<html lang="en">
    <meta charset="utf-8">

    <!--<head> 
      link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    </head>-->
  
    <!--<style>
      body {
          background-image: url(../static/header.png);
          background-repeat: no-repeat;
          font-family: "Nunito"
      }
  
      .center {
          display: flex;
          justify-content: center;
      }

      h4{
        font-size: 35px;
        font-weight: bolder;
      }

      h5{
        font-size: 25px;
      }

    </style>-->

<body>
  
    <h5>Flow Rate: </h5>
    <br>
    <h4><div id='test'></div></h4>


    Time Elapsed: 
    <br>
    <div id='time_elapsed'></div>

  
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    const getSensorReading = function() {
      fetch(`http://${location.host}/flow_rate`)  // send request to route /update
        .then((resp) => resp.json())
        .then(function(response) {
          let flow_rate = response.data.replace('-100 mL/min','Processing...');
          document.getElementById('test').innerHTML =flow_rate;
          if (flow_rate != 'Processing...')
          {
            let flow_rate_number = Number(flow_rate.replace(' mL/min',''));
            console.log(response.dangerous_flow_detected.toFixed());
            
            if (flow_rate_number>2 && response.dangerous_flow_detected.toFixed()==0)
            {
                window.location.href = "http://127.0.0.1:5000/flow_rate_error";
            }
          
          }

          document.getElementById('time_elapsed').innerHTML =response.time_elapsed;
          setTimeout(function(){window.location.href = "http://127.0.0.1:5000/finish"},response.feed_dur);
      });
    }
    getSensorReading();
    setInterval(getSensorReading, 1000);  //request for update every 1 second
  });
</script>
</body>
</html>
