<html>
  <head> 
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
  </head>

  <style>
    body {
        background-image: url(../static/header.png);
        background-repeat: no-repeat;
        font-fam
    }

    .center {
        display: flex;
        justify-content: center;
    }

  </style>

  <head>
    <script>
      function navigate() {
        window.location.href = "http://127.0.0.1:5000/flow_rate";  // redirect when done!
      }
      fetch('flow_rate').then(navigate); // load the slow url then navigate
    </script>
  </head>
  
  <body>
    Height is Setting!
  </body>
</html>
