<html>

    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>

    <style>
        label {
            font-family: 'Nunito';
            font-size: 40px;
        }

        body {
            background-image: url(../static/header.png);
            background-repeat: no-repeat;
            font-family: "Nunito"
        }

        .center {
            display: flex;
            justify-content: center;
        }
    </style>

    <body>
        <form method="POST" action="/">


            <input type="submit" value="Ok" />
        </form>        
    </body>
</html>
