<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>

    <script>
      function navigate() {
        window.location.href = "http://127.0.0.1:5000/initialize_height";  // redirect when done!
      }
      fetch('initialize_height').then(navigate); // load the slow url then navigate
    </script>
  </head>

  <style>
    body {
        background-image: url(../static/header.png);
        background-repeat: no-repeat;
        font-family: "Nunito"

    }

    
  </style>
  <body>
    Height is Setting!
  </body>
</html>
